.color-white {
  color: $white;
}

.color-dark {
  color: $dark;
}

.color-lightblue {
  color: $lightblue;
}

.color-teal {
  color: $teal;
}

.color-yellow {
  color: $yellow;
}

.color-orange {
  color: $orange;
}

.color-blue {
  color: $blue;
}

.color-green {
  color: $green;
}

.color-pink {
  color: $pink;
}

.color-violet {
  color: $violet;
}

.color-lightgrey {
  color: $lightgrey;
}

.background-white {
  background-color: $white;
}

.background-dark {
  background-color: $dark;
}

.background-lightblue {
  background-color: $lightblue;
}

.background-teal {
  background-color: $teal;
}

.background-yellow {
  background-color: $yellow;
}

.background-orange {
  background-color: $orange;
}

.background-blue {
  background-color: $blue;
}

.background-green {
  background-color: $green;
}

.background-pink {
  background-color: $pink;
}

.background-violet {
  background-color: $violet;
}

.background-lightgrey {
  background-color: $lightgrey;
}
