.aquarium {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
  text-align: center;
  margin: 2rem 0;
  font-size: clamp(3rem, 3vw, 5rem);;
  line-height: 1;
}
canvas {
  width: 100%;
  height: 100%;
}
.deep-content {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg,#f0f0f2,#8eb1bf,#037f8c,#025e73,#012a37,#011f26,#011f26,#012a37,#025e73,#037f8c,#8eb1bf,#f0f0f2);
  background-attachment: fixed;
  background-size: 1200vw 100vh;
  animation: gradient 15s ease infinite;
  animation-direction: alternate;
  .back-home {
    text-decoration: none;
    margin-left: 1rem;
    padding: 1rem 1rem 0.2rem 1rem;
    border-radius: 1rem 1rem 0 0;
    background-color: #14a4b8;
    font-size: clamp(2rem,2vw,4rem);
  }
}
