.arrow-down::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 250px;
  height: 50px;
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  transform: translateX(-50%);
  background-color: white;
  z-index: 5;
}

.angle-top-right-10 {
  clip-path: polygon(0 0, 100% calc(0% + 10vw), 100% 100%, 0 100%);
  margin-top: -10vw;
}
.angle-top-left-10 {
  clip-path: polygon(0 calc(0% + 10vw), 100% 0, 100% 100%, 0 100%);
  margin-top: -10vw;
}

.angle-bottom-right-10 {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
  margin-bottom: -10vw;
}
.angle-bottom-left-10 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 10vw));
  margin-bottom: -10vw;
}

.angle-header-left {
  clip-path: polygon(0 0, 100% calc(0% + 30vw), 100% 100%, 0 100%);
}
.angle-header-right {
  clip-path: polygon(100% calc(0% + 40vh), 100% 100%, calc(100% - 80vh) 100%);
}
