.view-h-100 {
  height: 100vh;
}

.view-h-110 {
  height: 110vh;
}

.view-h-plus-angle {
  height: calc(100vh + 10vw);
}

.view-h-50 {
  height: 50vh;
}

.view-w-100 {
  width: 100vw;
}

.view-w-80 {
  width: 80vw;
}

.percent-w-100 {
  width: 100%;
}
