// variables
$white: #ffffff;
$dark: #222222;
$lightblue: #3dd6eb;
$teal: #14a4b8;
$yellow: #ebaf31;
$orange: #eb7c26;
$blue: #001d52;
$green: #49eb49;
$pink: #eb2689;
$violet: #7a199e;
$lightgrey: #eeeeee;
$white-transparent: rgba(255, 255, 255, 0.75);
$matrix-dark: #0D0208;
$matrix-lightgreen: #00FF41;
$matrix-green: #008F11;
$matrix-darkgreen: #003B00;
$pacman: #cfaf1d;
$grunge-fill: $dark;
$grunge-stroke: $dark;
$font-real-big: clamp(32px, 6vw, 128px);
$font-big: clamp(24px, 4vw, 96px);
$font-normal: clamp(16px, 3vw, 64px);
$font-small: clamp(16px, 1.2vw, 32px);
$font-weight-normal: 300;
$font-weight-bold: 800;


// colors
.color-white {
  color: $white;
}

.color-dark {
  color: $dark;
}

.color-lightblue {
  color: $lightblue;
}

.color-teal {
  color: $teal;
}

.color-yellow {
  color: $yellow;
}

.color-orange {
  color: $orange;
}

.color-blue {
  color: $blue;
}

.color-green {
  color: $green;
}

.color-pink {
  color: $pink;
}

.color-violet {
  color: $violet;
}

.color-lightgrey {
  color: $lightgrey;
}

.background-white {
  background-color: $white;
}

.background-dark {
  background-color: $dark;
}

.background-lightblue {
  background-color: $lightblue;
}

.background-teal {
  background-color: $teal;
}

.background-yellow {
  background-color: $yellow;
}

.background-orange {
  background-color: $orange;
}

.background-blue {
  background-color: $blue;
}

.background-green {
  background-color: $green;
}

.background-pink {
  background-color: $pink;
}

.background-violet {
  background-color: $violet;
}

.background-lightgrey {
  background-color: $lightgrey;
}

// basic
::after, ::before {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

body, html {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: $font-normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-bold;
}

p, span {
  font-weight: $font-weight-normal;
  line-height: 1.03;
}

.container {
  position: relative;
}

.format-16-9 {
  position: relative;
  padding-bottom: 56.25%;
  > * {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.half-opaque {
  opacity: 0.5;
}

// shapes
.arrow-down::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 250px;
  height: 50px;
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  transform: translateX(-50%);
  background-color: white;
  z-index: 5;
}

.angle-top-right-10 {
  clip-path: polygon(0 0, 100% calc(0% + 10vw), 100% 100%, 0 100%);
  margin-top: -10vw;
}
.angle-top-left-10 {
  clip-path: polygon(0 calc(0% + 10vw), 100% 0, 100% 100%, 0 100%);
  margin-top: -10vw;
}

.angle-bottom-right-10 {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
  margin-bottom: -10vw;
}
.angle-bottom-left-10 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 10vw));
  margin-bottom: -10vw;
}

.angle-header-left {
  clip-path: polygon(0 0, 100% calc(0% + 30vw), 100% 100%, 0 100%);
}
.angle-header-right {
  clip-path: polygon(100% calc(0% + 40vh), 100% 100%, calc(100% - 80vh) 100%);
}

// sizes
.view-h-100 {
  height: 100vh;
}

.view-h-110 {
  height: 110vh;
}

.view-h-plus-angle {
  height: calc(100vh + 10vw);
}

.view-h-50 {
  height: 50vh;
}

.view-w-100 {
  width: 100vw;
}

.view-w-80 {
  width: 80vw;
}

.percent-w-100 {
  width: 100%;
}

// positions
.absolute-0 {
  position: absolute;
  left: 0;
  top: 0;
}

.top-left {
  position: absolute;
  top: 0;
  left: 0;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

// withered
.withered {
  position: relative;
  width: fit-content;
  .withered-text {
    text-transform: uppercase;
    font-size: $font-real-big;
    font-weight: $font-weight-bold;
    line-height: .75;
    margin: 0.1rem 0;
    &.enjoy {
      color: $lightblue;
    }
  }
  .withered-text-overlay {
    background: url(grunge.svg);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// shimmer
.shimmer {
  text-align: center;
  color: rgba(255, 255, 255, 0.1);
  background: linear-gradient(to right, $dark, $white, $dark);
  background-size: 50% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  animation-name: shimmer;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0;
  background-color: $dark;
}

@keyframes shimmer {
  0% {background-position: top left;}
  100% {background-position: top right;}
}

// glitch
.glitch-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .glitch {
    color: $matrix-green;
    text-transform: uppercase;
    position: relative;
    width: 100vw;
    text-align: center;

    &::before, &::after{
      color: $matrix-green;
      content: attr(data-content);
      position: absolute;
      width: 100%;
      height: 100%;
      background: $matrix-dark;
      overflow: hidden;
      top: 0;
    }

    &::before {
      left: 3px;
      text-shadow: -2px 0 $matrix-lightgreen;
      animation-name: glitch-animation-1;
      animation-duration: 2s;
      animation-timing-function: linear;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: alternate-reverse;
    }
        
    &::after {
      left: -3px;
      text-shadow: -2px 0 $matrix-darkgreen;
      animation-name: glitch-animation-2;
      animation-duration: 2s;
      animation-timing-function: linear;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: alternate-reverse;
    }
  }   
}

@keyframes glitch-animation-1 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} { 
      clip: rect(random(150)+px, 100vw, random(150)+px, 0);
    }
  }
}
@keyframes glitch-animation-2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} { 
      clip: rect(random(150)+px, 100vw, random(150)+px, 0);
    }
  }
}


// home
.standard {
  position: relative;
  .header-container {
    position: relative;
    margin-bottom: -10vh;
    header {
      margin: 0;
      h1 {
        font-size: $font-real-big;
        padding-left: 2rem;
        margin-top: 20vh;
        margin-bottom: 0;
        margin-left: 5%;
      }
    }
  }

  .content-container {
    clip-path: polygon(0 0, calc(0% + 35vw) 0, calc(0% + 50vw) calc(0% + 5vw), calc(100% - 35vw) 0, 100% 0, 100% 100%, 0 100%);
    display: flex;
    align-items: center;
    .content {
      margin: 0 5%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      padding: 1rem;
      > div {
        padding: 1rem;
      }
      .column-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .text-container {
          width: 100%;
          max-width: 75%;
          font-size: $font-normal;
        }
      }
      .column-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }

  .bottom-container {
    height: 100%;
    margin: 0 5%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .counter {
      display: grid;
      width: 100%;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2rem;
      p {
        justify-self: center;
      }
    }
  }
  
  .choices {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 4vw;
    transition: transform 0.7s ease-out;
    button {
      width: 10vw;
      height: 8vw;
      border: none;
      border-radius: 50%;
      padding: 0;
      cursor: pointer;
      &::after {
        content: '';
        display: block;
        width: 10vw;
        height: 8vw;
        border-radius: 50%;
        transform: translateY(-0.5vw);
        transition: transform 0.4s ease-out;
      }
      &:hover::after {
        transform: translateY(0);
      }
    }
    .emergency-button {
      background: radial-gradient(at 4vw 3vw, #cff9ff, #41a9b7);
      box-shadow: 0.2vw 0.4vw 0.7vw 0 #4ba4b1;
      &::after {
        background: radial-gradient(at 4vw 3vw, #cff9ff, $lightblue);
      }
    }
    .super-awesome-button {
      background: radial-gradient(at 4vw 3vw, #346fec, #010204);
      box-shadow: 0.2vw 0.4vw 0.7vw 0 #04092d;
      &::after {
        background: radial-gradient(at 4vw 3vw, #346fec, $blue);
      }
    }
  }
}

.copyright-container {
  padding: 0.5rem 2rem;
  .copyright {
    font-size: $font-small;
    mix-blend-mode: exclusion;
    margin: 0;
  }
}

.secrets {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: $white;
  z-index: -1;
  transition: z-index 1s ease-out;
  &.layer-1 {
    z-index: 8;
    background-color: $lightgrey;
  }
  &.layer-2 {
    z-index: 7;
    background-color: $matrix-dark;
  }
  &.secret-1 {
    width: 300vw;
    height: 100vh;
    background-color: transparent;
    pointer-events: none;
    .pacman {
      position: absolute;
      top: calc(-1 * max(1vw,1vh));
      width: calc(max(12vw, 12vh));
      height: calc(max(12vw, 12vh));
      background-color: $pacman;
      border-radius: 50%;
      z-index: 9;
      .pacman-eye {
        position: absolute;
        top: calc(max(2vw, 2vh));
        left: calc(max(4vw, 4vh));
        width: calc(max(1vw, 1vh));
        height: calc(max(1vw, 1vh));
        border-radius: 50%;
        background-color: $dark;
      }
      .pacman-mouth {
        background-color: $lightgrey;
        position: absolute;
        width: 100%;
        height: 100%;
        clip-path: polygon(0% 74%, 44% 48%, 0% 21%);
        animation: pacman-eat 0.7s infinite;
      }
      &.active {
        animation: pacman-move 2s linear;
      }
    }
    @keyframes pacman-move {
      0% {left: 100vw;}
      100% {left: 210vw;}
     }
    @keyframes pacman-eat {
      0% {clip-path: polygon(0% 74%, 56% 52%, 0% 21%);}
      25% {clip-path: polygon(0% 60%, 56% 52%, 0% 40%);}
      50% {clip-path: polygon(0% 50%, 56% 52%, 0% 50%);}
      75% {clip-path: polygon(0% 59%, 56% 52%, 0% 35%);}
      100% {clip-path: polygon(0% 74%, 56% 52%, 0% 21%);}
     }
    .eaten {
      position: absolute;
      width: calc(100vw + max(10vw, 10vh));
      height: calc(max(10vw, 10vh));
      background-color: $lightgrey;
      &:nth-child(1) {
        top: 0;
        left: calc(-1 * max(10vw, 10vh));
        &.active {
          animation: pacman-background 2s linear forwards;
        }
        .pacman {
          left: calc(-1 * max(5vw, 5vh));
          transform: scaleX(-1);
        }
      }
      &:nth-child(2) {
        top: calc(max(10vh, 10vw));
        left: 0;
        &.active {
          animation: pacman-background-reverse 2s linear forwards;
        }
        .pacman {
          left: calc(100vw + max(5vw, 5vh));
        }
      }
      &:nth-child(3) {
        top: calc(max(20vh, 20vw));
        left: calc(-1 * max(10vw, 10vh));
        &.active {
          animation: pacman-background 2s linear forwards;
        }
        .pacman {
          left: calc(-1 * max(5vw, 5vh));
          transform: scaleX(-1);
        }
      }
      &:nth-child(4) {
        top: calc(max(30vh, 30vw));
        left: 0;
        &.active {
          animation: pacman-background-reverse 2s linear forwards;
        }
        .pacman {
          left: calc(100vw + max(5vw, 5vh));
        }
      }
      &:nth-child(5) {
        top: calc(max(40vh, 40vw));
        left: calc(-1 * max(10vw, 10vh));
        &.active {
          animation: pacman-background 2s linear forwards;
        }
        .pacman {
          left: calc(-1 * max(5vw, 5vh));
          transform: scaleX(-1);
        }
      }
      &:nth-child(6) {
        top: calc(max(50vh, 50vw));
        left: 0;
        &.active {
          animation: pacman-background-reverse 2s linear forwards;
        }
        .pacman {
          left: calc(100vw + max(5vw, 5vh));
        }
      }
      &:nth-child(7) {
        top: calc(max(60vh, 60vw));
        left: calc(-1 * max(10vw, 10vh));
        &.active {
          animation: pacman-background 2s linear forwards;
        }
        .pacman {
          left: calc(-1 * max(5vw, 5vh));
          transform: scaleX(-1);
        }
      }
      &:nth-child(8) {
        top: calc(max(70vh, 70vw));
        left: 0;
        &.active {
          animation: pacman-background-reverse 2s linear forwards;
        }
        .pacman {
          left: calc(100vw + max(5vw, 5vh));
        }
      }
      &:nth-child(9) {
        top: calc(max(80vh, 80vw));
        left: calc(-1 * max(10vw, 10vh));
        &.active {
          animation: pacman-background 2s linear forwards;
        }
        .pacman {
          left: calc(-1 * max(5vw, 5vh));
          transform: scaleX(-1);
        }
      }
      &:nth-child(10) {
        top: calc(max(90vh, 90vw));
        left: 0;
        &.active {
          animation: pacman-background-reverse 2s linear forwards;
        }
        .pacman {
          left: calc(100vw + max(5vw, 5vh));
        }
      }
    }
    @keyframes pacman-background {
      0% {left: calc(-1 * max(10vw, 10vh));}
      100% {left: calc(100vw + max(10vw, 10vh));}
    }
    @keyframes pacman-background-reverse {
      0% {left: 0;}
      100% {left: calc(-1 * (100vw + max(20vw, 20vh)));}
    }
  }
  .secret-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .column-stretch-2 {
      grid-column: span 2;
    }
    .drag, .drop {
      display: grid;
      justify-content: center;
      > div {
        width: 12vw;
        height: 12vh;
        padding: 2vh 2vw;
        &.bordered {
          border: 2px solid $matrix-green;
        }
        > div {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}


// wave
$totalWaves: 10;

.wave-container {
  width: 110vw;
  height: 30vh;
  overflow: hidden;
  position: relative;
  margin: 10vh 0 10vh -5vw;
  .wave {
    width: 100%;
    position: absolute;
    @keyframes wave {
      to { transform: translateX(300vw);}
    }
    .wave-inner {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      background: radial-gradient(#ffffff, rgba(255, 255, 255, 0.5), #3dd6eb 70%);
      animation: wave-upDown 1.5s alternate infinite ease-in-out;
    }
  }
  @for $i from 1 through $totalWaves {
    $time: random(20);
    .wave:nth-child(#{$i}) {
      animation: wave ($time/$totalWaves * $i + 1)+s infinite linear;
      animation-delay: ($time/$totalWaves * $i / 10)+s;
      .wave-inner {
        animation: wave-upDown#{$i} 1.5s alternate infinite ease-in-out;
      }
    }
    @keyframes wave-upDown#{$i} {
      $offset: random(20)+vh;
      to { transform: translateY(calc(#{$offset} + 10vh - 5rem));}
    }
  }
}

//frosted
.frosted-container {
	width: 100vw;
	display: grid;
	justify-content: center;
	align-items: center;
}

@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}

.frosted {
	width: 70vw;
	height: 70vh;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
	border-radius: 1rem;
	position: relative;
	z-index: 1;
	overflow: hidden;
	background-size: cover;
	background-attachment: fixed;
	background-color: rgba(142,177,191,0.2);
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-template-rows: auto minmax(0, 1fr);
	h4 {
		color: $teal;
    text-shadow: 0px 0px 20px #dbe2e7;
	}
}

.frosted:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
	background-size: cover;
	background-attachment: fixed;
	background-color: rgba(142,177,191,0.2);
	filter: blur(10px);
	margin: -20px;
}


// deep
.aquarium {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
  text-align: center;
  margin: 2rem 0;
  font-size: clamp(3rem, 3vw, 5rem);;
  line-height: 1;
}
canvas {
  width: 100%;
  height: 100%;
}
.deep-content {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg,#f0f0f2,#8eb1bf,#037f8c,#025e73,#012a37,#011f26,#011f26,#012a37,#025e73,#037f8c,#8eb1bf,#f0f0f2);
  background-attachment: fixed;
  background-size: 1200vw 100vh;
  animation: gradient 15s ease infinite;
  animation-direction: alternate;
  .back-home {
    text-decoration: none;
    margin-left: 1rem;
    padding: 1rem 1rem 0.2rem 1rem;
    border-radius: 1rem 1rem 0 0;
    background-color: #14a4b8;
    font-size: clamp(2rem,2vw,4rem);
  }
}
