$white: #ffffff;
$dark: #222222;
$lightblue: #3dd6eb;
$teal: #14a4b8;
$yellow: #ebaf31;
$orange: #eb7c26;
$blue: #001d52;
$green: #49eb49;
$pink: #eb2689;
$violet: #7a199e;
$lightgrey: #eeeeee;
$white-transparent: rgba(255, 255, 255, 0.75);
$matrix-dark: #0D0208;
$matrix-lightgreen: #00FF41;
$matrix-green: #008F11;
$matrix-darkgreen: #003B00;
$pacman: #cfaf1d;
$grunge-fill: $dark;
$grunge-stroke: $dark;
$font-real-big: clamp(32px, 6vw, 128px);
$font-big: clamp(24px, 4vw, 96px);
$font-normal: clamp(16px, 3vw, 64px);
$font-small: clamp(16px, 1.2vw, 32px);
$font-weight-normal: 300;
$font-weight-bold: 800;
